@page
@model VHZ_App.Pages.ForgotPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Восстановление пароля";
}
<link rel="stylesheet" href="~/css/auth-reset.css" />

<div class="register-wrapper">
    <div class="left-panel">
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            <img src="/Image/logo.svg" alt="Логотип" class="logo" />
        </a>
        <h1>Восстановите доступ<br />к вашему аккаунту</h1>
        <p>Просто введите email, и мы вышлем ссылку для сброса пароля.</p>
    </div>
    <div class="right-panel">
        <h2 class="h2-2">Восстановление пароля</h2>
        <p>Введите ваш email, и мы отправим ссылку для сброса пароля.</p>

        <form method="post">
            <input class="form-control" name="Email" placeholder="Email" required type="email" />
            <button type="submit" class="btn btn-submit">Отправить</button>
        </form>

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert alert-info">@Model.Message</div>
        }

        <a href="/Account" class="btn btn-link">Назад к входу</a>
    </div>
</div>
<p></p>
<label class="end-text"></label>