@page
@model IndexModel
@{
    ViewData["Title"] = "Владимирский химический завод";
}

<div class="container-fluid px-0">
    <div class="full-width-image">
        <img src="~/Image/Главное.png" alt="Владимирский химический завод" class="img-fluid w-100">
    </div>
</div>

<div class="container-fluid px-0">
    <div class="full-width-image">
        <img src="~/Image/Главное2.png" alt="Владимирский химический завод. О нас" class="img-fluid w-100">
    </div>
</div>